################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FootballWeatherDataConsolidator/.vs/
**/bin/
**/obj/